*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container{
    text-align: center;
    background-color: rgb(213, 88, 88);
    /* background-color: #fff; */
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 4px 10px rgba(2, 0, 0, 0.048);
    width: 80%;
    max-width: 500px;
}

button{
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: rgb(157, 219, 58);
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover{
    background-color: #4CAF49;
}

#joke{
    font-size: 18px;
    margin: 20px 0;
    color:white;
}
